body {
  overflow: hidden;
}

#wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#toolbar {
  position: absolute;

  bottom: 0;
  left: 0;
  right: 30%;
}

#workspace {
  position: absolute;
  background-color: #333333;
  top: 0;
  bottom: 35px;
  left: 0;
  width: 70%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40px;
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#canvas {
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}

#rooms {
  position: absolute;
  background-color: #666666;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
}

#rooms .room {
  height: 33.34%;
  width: 100%;
}


.drag {
  position: absolute;
  height: 40px;
  right: 0;
  width: 40px;
  background: url(drag/drag.png) no-repeat center center;
  z-index: 1000;
}

.map {
  height: 100%;
  width: 100%;
}

#minimap {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 30%;
}

#objects {
  bottom: 0;
  left: 0;
  width: 50%;
  height: 30%;
}

.overlay {
  display: none;
  z-index:10000;
/* styling */
	background-color:#fff;
	
	width:555px;	
	border:1px solid #666;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;  
}

